.menu-button {
    background-color: #2b2b2b;
    padding: 5px  0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
   
    transition: all 0.3s ease-in-out;
  }
  
  .menu-button:hover {
    background-color: rgb(164, 144, 124); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .offcanvas-body-custom {
    background-color: rgba(0, 0, 0, 0.85);
    border-left: none;
    padding: 5rem;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
  }
  
