.menu-button {
    background-color: rgb(7, 13, 38);
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
  }
  
  .menu-button:hover {
    background-color: #1e1b1b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .offcanvas-body-custom {
    background-color: rgb(3, 6, 17);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4rem;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  }
  
  