* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html, #root {
    background: linear-gradient(to bottom, #1a1a1a, #594e43);
    min-height: 100vh;
}

/*välja färgen här ist #594e43*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #A4907C;
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 15px;
}
