* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #180000;
}

::-webkit-scrollbar-thumb {
  background: #1c1344;
  border-radius: 15px;
}
